.App {
  text-align: center;
}

.navigacio{
  height: 75px;
  background-color: #87414D;
  color: #FDDAF0;
  display: flex;
}

.nav_menu{
  position: fixed;
  right: 0;
  width: 60%;
}

.navigacio img{
  width: 50px;
  margin: 10px 0px;
  border-radius: 100%;
}


.navigacio h1{
  display: inline;
  font-size: 32px;
  margin: 10px 15px;
}

.nav_legordulo h2{
  display: none;
}
